@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    font-family: "Roboto", serif;
    color:beige;
}

body{
  margin: 0px;
  padding: 0px;
  background: linear-gradient(90deg, rgba(19,11,13,0.9013668455663515) 9%, rgb(12, 42, 48) 100%);
  

}
.slick-prev {
  left:4% !important;
  z-index: 10;
 
  
 
}


.slick-next{
  right:4% !important;
  z-index: 10;
  color: blue !important;
}